    *{margin: 0;padding: 0;text-decoration: none;}
.bg01{width: 100%;height: 233px;background-color: rgb(0, 0, 0);position: relative;display: flex;justify-content: center;}
.bg02{width: 100%;height: 847px;background-color: rgb(0, 0, 0);position: relative;display: flex;justify-content: center;}
.bg03{width: 100%;height: 759px;background-color: #002365;position: relative;display: flex;justify-content: center;}
.bg04{width: 100%;height: 83px;background-color: #DD0000;position: relative;display: flex;justify-content: center;}
.bg05{width: 100%;height: 804px;background-color: #FFF396;position: relative;display: flex;justify-content: center;}
.bg06{width: 100%;height: 637px;background-color: #002365;position: relative;display: flex;justify-content: center;}
.bg07{width: 100%;height: 783px;background-color: #FFFFFF;position: relative;display: flex;justify-content: center;}
.bg08{width: 100%;height: 582px;background-color: #000000;position: relative;display: flex;justify-content: center;}
.bg09{width: 100%;height: 2412px;background-color: #FFF396;position: relative;display: flex;justify-content: center;}
.bg10{width: 100%;height: 93px;background-color: #DD0000;position: relative;display: flex;justify-content: center;}
.bg11{width: 100%;height: 582px;background-color: #000000;position: relative;display: flex;justify-content: center;}
.bg12{width: 100%;height: 637px;background-color: #ffffff;position: relative;display: flex;justify-content: center;}
.bg13{width: 100%;height: 506px;background-color: #FFF396;position: relative;display: flex;justify-content: center;}
.bg14{width: 100%;height: 739px;background-color: #000000;position: relative;display: flex;justify-content: center;}
.bg15{width: 100%;height: 100px;background-color: #ffffff;position: relative;display: flex;justify-content: center;}

.cont01{width: 100%;height: 1071px;position: relative;background-position: center;background-attachment: relative;background-size: cover;}
.cont02{width: 1787px;height: 734px;position: relative;background-position: center;background-attachment: relative;background-size: cover;}
.cont03{width: 1739px;height: 670px;top: 33px;position: relative;background-position: center;background-attachment: relative;background-size: cover;}
.cont04{width: 1929px;height: 480px;top: 340px;left: 150px;position: relative;background-position: center;background-attachment: relative;background-size: cover;}
.cont05{width: 1990px;height: 628px;top: 10px;position: relative;background-position: center;background-attachment: relative;background-size: cover;}
.cont06{width: 1637.5px;height: 710px;top: 80px;position: relative;background-position: center;background-attachment: relative;background-size: cover;}
.cont07{width: 599px;height: 599px;left: -700px;top: -20px;position: relative;background-position: center;background-attachment: relative;background-size: cover;}
.cont08{width: 1911px;height: 2293px;top: 120px;position: relative;background-position: center;background-attachment: relative;background-size: cover;}
.cont09{width: 1896px;height: 599px;top: -20px;left: 50px;position: relative;background-position: center;background-attachment: relative;background-size: cover;}
.cont10{width: 1400px;height: 637px;right: 700px;position: relative;background-position: center;background-attachment: relative;background-size: cover;}
.cont11{width: 540px;height: 725px;top: -90px;left: -600px; position: relative;background-position: center;background-attachment: relative;background-size: cover;}
.cont12{width: 2237px;height: 383px;top: 125px;left: 0px; position: relative;background-position: center;background-attachment: relative;background-size: cover;}
.cont13{width: 768px;height: 576px;top: 160px;left: 700px; position: relative;background-position: center;background-attachment: relative;background-size: cover;}

.tbox00{width: 500px;height: 50px;top: 5px;left: 302px;position: absolute;text-align: left;}
.tbox000{width: 500px;height: 50px;top: 5px;left: 238px;position: absolute;text-align: left;}
.tbox0000{width: 500px;height: 50px;top: 5px;left: 220px;position: absolute;text-align: left;}
.tbox01{width: 5000px;height: 50px;position: absolute;top: 100px;text-align: center;}
.tbox02{width: 500px;height: 10px;position: absolute;top: 80px;left: 675px;text-align: center;}
.tbox03{width: 700px;height: 10px;position: absolute;top: 430px;left: 130px;text-align: center;}
.tbox04{position: absolute;top: 17px;text-align: center}
.tbox05{width: 1500px;height: 10px;position: absolute;top: -200px;left: -200px;text-align: center;}
.tbox06{position: absolute;top: -90px;left: -10px;text-align: left;}
.tbox07{width: 3000px;height: 100px;position: absolute;top: 150px;left: 800px;text-align: left;}
.tbox08{width: 3000px;height: 100px;position: absolute;top: 400px;text-align: left;}
.tbox09{width: 1500px;position: absolute;top: 250px;left: 600px;text-align: left;}
.tbox10{width: 1500;position: absolute;top: 100px;text-align: center;}
.tbox11{width: 1500;position: absolute;top: 347px;left: 1080px;text-align: center;}
.tbox111{width: 1500px;position: absolute;top: 60px;left: 10px;text-align: left;}
.tbox12{width: 1500;position: absolute;top: 410px;left: -690px;text-align: center;}
.tbox121{width: 1500px;position: absolute;top: 60px;left: -230px;text-align: left;}
.tbox13{width: 1500;position: absolute;top: 560px;left: 590px;text-align: center;}
.tbox131{width: 1500px;position: absolute;top: 70px;left: 100px;text-align: left;}
.tbox14{width: 1500;position: absolute;top: 555px;left: -470px;text-align: center;}
.tbox141{width: 1500px;position: absolute;top: 60px;left: -250px;text-align: left;}
.tbox15{width: 3000px;position: absolute;top: 8px;text-align: center;}
.tbox16{width: 3000px;position: absolute;top: 250px;left: 100px;text-align: left;}
.tbox17{width: 3000px;position: absolute;top: 150px;left: 0px;text-align: left;}
.tbox18{width: 3000px;height: 50px;position: absolute;top: 250px;left: 1450px;text-align: left;}
.tbox19{width: 3000px;position: absolute;top: 200px;left: 650px;text-align: left;}
.tbox20{width: 1500px;position: absolute;top: -65px;left: 600px;text-align: left;}
.tbox21{width: 5000px;height: 50px;position: absolute;top: 60px;text-align: center;}
.tbox22{width: 1500px;position: absolute;top: 50px;right: 460px;text-align: left;}
.tbox23{width: 3000px;height:50px absolute;top: 10px;left: -300px;text-align: center;}
.tbox24{width: 3000px;height:50px absolute;top: 35px;right: 0px;text-align: center;}

.titlei{font-family: "Noto Sans KR", sans-serif;font-size: 75px;font-weight: 300;letter-spacing: -0.5px;line-height: 66px;color: #F9FBE6;}
.titlek{font-family: "Noto Sans KR", sans-serif;font-size: 75px;font-weight: bold;letter-spacing: -0.5px;line-height: 66px;color: #000000;}
.maink{font-family: "Noto Sans KR", sans-serif;font-size: 25px;font-weight: lighter;letter-spacing: -0.5px;line-height: 38px;color: #000000;}
.maink1{font-family: "Noto Sans KR", sans-serif;font-size: 30px;font-weight: lighter;letter-spacing: -0.5px;line-height: 45px;color: #000000;}
.mainy{font-family: "Noto Sans KR", sans-serif;font-size: 25px;font-weight: lighter;letter-spacing: -0.5px;line-height: 38px;color: #FFE201;}
.mainy1{font-family: "Noto Sans KR", sans-serif;font-size: 30px;font-weight: lighter;letter-spacing: -0.5px;line-height: 45px;color: #FFE201;}
.mainw{font-family: "Noto Sans KR", sans-serif;font-size: 25px;font-weight: lighter;letter-spacing: -0.5px;line-height: 38px;color: #FFFFFF;}
.maing{font-family: "Noto Sans KR", sans-serif;font-size: 20px;font-weight: lighter;letter-spacing: -0.5px;line-height: 20px;color: #A2A2A2;}
.name{width: 300px;font-family: "Noto Sans KR", sans-serif;font-size: 35px;font-weight: initial;letter-spacing: -0.5px;line-height: 45px;color: #000000;}
.namee{width: 300px;font-family: "Noto Sans KR", sans-serif;font-size: 20px;font-weight: initial;letter-spacing: -0.5px;line-height: 45px;color: #000000;}

.img01{background-image:url(img/bg1.png) ;text-align: center;}
.img02{background-image:url(img/bg2.png) ;text-align: center;}
.img03{background-image:url(img/bg3.png) ;text-align: center;}
.img04{background-image:url(img/bg4.png) ;text-align: center;}
.img05{background-image:url(img/bg5.png) ;text-align: center;}
.img06{background-image:url(img/bg6.png) ;text-align: center;}
.img07{background-image:url(img/bg7.png) ;text-align: center;}
.img08{background-image:url(img/bg8.png) ;text-align: center;}
.img09{background-image:url(img/bg9.png) ;text-align: center;}
.img10{background-image:url(img/bg10.png) ;text-align: center;}
.img11{background-image:url(img/bg11.png) ;text-align: center;}
.img12{background-image:url(img/bg12.png) ;text-align: center;}
.img13{background-image:url(img/bg13.png) ;text-align: center;}

